---
layout: default
---

<div class="home">
  <div class="col-left">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | {{ post.tags | join: ', ' }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div><!-- /col-left -->

  <div class="col-right">
    <h3><i>blog is about..</i></h3>
    <!--
    <ul>
    {% for tags in site.tags %}
      <li>
      <a href="/tags/#{{ tags | first }}">{{ tags | first }} ({{ tags | last | size }})</a>
      </li>
    {% endfor %}
    </ul>
    -->

    {% capture site_tags %}{% for tag in site.tags %}{{ tag[1].size }}#{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tag_hashes = site_tags | split:',' | sort %}
    <ul class="list-group">
      {% for hash in tag_hashes reversed %}
        {% assign keyValue = hash | split: '#' %}
        {% capture tag_word %}{{ keyValue[2] | strip_newlines }}{% endcapture %}
        <li class="list-group-item">
          <a href="/tags/#{{ tag_word }}">
            {{ tag_word }}
            <span class="badge pull-right">{{ site.tags[tag_word].size }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>


    <h3><i>code samples..</i></h3>
    <ul>
      <li>
        <a href="https://gist.github.com/rlynjb/4daa009d9b65421608f9">Basic Algorithm</a>
      </li>
      <li>
        <a href="https://gist.github.com/rlynjb/fe49919bd0de0f5a2606">Intermediate Algorithm</a>
      </li>
    </ul>
  </div><!-- /col-right -->
</div>
