/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    //background: url('/images/739BBHC8KM.jpg');
    background-color: #f7f7f7;
    background-size: 100%;
    background-position: 0 -33em;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    display: block;
    margin: 1em 0 0;
    float: left;
    font-family: 'Exo', sans-serif;

    &,
    &:visited {
        color: #4f4f4f;
    }

    &:hover {
      text-decoration: none;
    }

    h2 {
      margin: 0;
      font-size: 1.9em;
      line-height: 1;
      font-weight: 400;
    }

    h4 {
      font-size: 1em;
      font-weight: 400;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin-top: 3em;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    line-height: 1.2;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 35px;
    line-height: 1.1;
    color: #3d3d3d;
    font-weight: 600;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        line-height: 1.2;
        color: rgba(0,0,0,0.44);

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*
  custom layout
 */
ul {
  &.list-group {
    margin: 0px;
  }

  li {
    &.list-group-item {
      display: inline-block;
      background: #ededed;
      padding: 3px 5px;
      font-size: 0.7em;
      border-radius: 7px;
    }
  }
}

.tags-wrapper {
  background: #f7f4f4;
  padding: 10px;
}

.intro {
  padding: 2em 13em;
  font-size: 1.5em;
  text-align: center;
}

.portfolio {
  padding: 2em 7em;
  background: #191919;
  color: #fff;
  margin: 3em 0;
}

.portfolio-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em;
  list-style: none;

  li {
    margin: 6px;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    background: #000;

    a {
      display: block;
      position: relative;

      .portfolio-img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-bottom: 3px solid #191919;
      }

      img {
        width: 100%;
      }

      .portfolio-desc {
        margin: 15px;
        color: darkgray;
        font-size: 0.9em;

        b {
          text-transform: uppercase;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
