<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-left">
          {{ content }}
        </div><!-- /col-left -->

        <div class="col-right">
          <h2>What this is about..</h2>
          <ul>
          {% for tags in site.tags %}
            <li>
            <a href="/tags/#{{ tags | first }}">{{ tags | first }} ({{ tags | last | size }})</a>
            </li>
          {% endfor %}
          </ul>
        </div><!-- /col-right -->
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
